.roundImg {
    border-radius: 50%;
    object-fit: cover;
} 

.header {
    margin-bottom: var(--medium-gap);
}

.stickyHeader {
    position: fixed;
    top: 0;
    font-size: var(--large-text);
    width: 100%;
    font-weight: 700;
    padding: 20px var(--medium-gap);
    background-color: var(--background-color);
    /* background-image: linear-gradient(var(--background-color) 30%, #00000000 100%); */
    z-index: 5;
}

/* #region img */

.roundImg {
    border-radius: 50%;
    object-fit: cover;
} 

.roundRecImg {
    border-radius: var(--border-radius-small);
    object-fit: cover;
}

/* #endregion */


/* #region gap, text, nodata */

.smallGap {
    height: var(--small-gap);
}

.mediumGap {
    height: var(--medium-gap);
}

.largeGap {
    height: var(--large-gap);
}

.miniGap {
    height: 20px;
}

.mainText  {
    font-size: var(--medium-text);
    font-weight: 600;
    margin-bottom: 5px;
}

.subText {
    color: var(--secondary-text-color);
    font-size: var(--small-text);
    font-weight: 300;
}

.noData {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
}

.noData p {
    text-align: center;
}

/* #endregion */


/* #region pagination */

.paginationContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: var(--medium-gap);
}

.paginationContainer > div {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: var(--mini-gap);
}

/* #endregion */

