.primaryIcon {
    fill: var(--primary-text-color)
}

.grayIcon {
    fill: var(--secondary-text-color);
}

.darkGrayIcon {
    fill: var(--surface-light-color);
}

.increaseIcon {
    fill: var(--positive-color);
}

.decreaseIcon {
    fill: var(--negative-color);
}

.neutralIcon {
    fill: var(--neutral-color);
}

.hoverableGrayIcon {
    fill: var(--secondary-text-color);
    transition: var(--normal-transition);
}

.hoverableGrayIcon:hover {
    fill: var(--primary-text-color);
}
