.backgroundInverseIcon {
    fill: var(--background-color-inverse)
}

.onPrimaryIcon {
    fill: var(--on-primary-color)
}

.onSurfaceIcon {
    fill: var(--secondary-text-color);
}

.onBackgroundIcon {
    fill: var(--on-surface-color);
} 

.increaseIcon {
    fill: var(--positive-color);
}

.decreaseIcon {
    fill: var(--negative-color);
}

.neutralIcon {
    fill: var(--neutral-color);
}

.hoverableIcon {
    fill: var(--secondary-text-color);
    transition: var(--normal-transition);
}

.hoverableIcon:hover {
    fill: var(--primary-text-color);
}
