.main {
    margin-left: var(--sidebar-width);  
    max-width: var(--max-width); 
}

.content {
    padding: 50px 60px;
     
}

.bannerPageContent {
    padding: 30px 60px 50px 60px;
    background-size: 100% 600px;
    background-position: top;
    background-repeat: no-repeat;

    background-color: var(--background-color);
}

/* #region banner */

.banner {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-position: top center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    padding: var(--small-gap) var(--medium-gap);
    height: var(--banner-height);
    background-color: var(--surface-color-dark);
} 

.banner > div:first-child {
    display: flex;
    justify-content: flex-end;
}

.banner h1 {
    font-size: var(--huge-text);
    font-weight: 700;
    margin-bottom: 10px;
}


.coverBanner {
    display: flex;
    align-items: center;
    padding: 0px var(--medium-gap);
    position: relative;
    gap: var(--small-gap);
    height: var(--banner-height);
    z-index: 1;
}

.blurBanner {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--surface);
    height: var(--banner-height);
    margin-bottom: -330px;
    width: 100%;
    overflow-y: hidden;
    top: 0;  
}

.blurBanner > div {
    /* position: fixed; */
    background-color: var(--surface-color);
    height: 500%;
    min-width: 100vw;
    background-size: 150%;
    /* background-attachment: fixed; */
    background-position: center center;
    /* background-repeat: no-repeat; */
    filter: blur(15px);
    opacity: 0.8;

    z-index: -1;
}

.bannerAlbumCover {
    min-width: 250px;
    border-radius: 10px;
    overflow: hidden;
}

.coverBannerInfo {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.coverBannerInfo > p {
    color: var(--primary-text-color-variant);
    font-weight: 300;
    font-size: 14px;
}

.coverBannerInfo h1 {
    font-size: 48px;
    line-height: 48px;
    font-weight: 700;
    margin-bottom: 12.5px;
}

.projectInfo {
    display: flex;
    align-items: center;
    gap: 10px;
}

.dot {
    padding-bottom: 8px;
}

.coverBannerInfo .subText {
    font-size: var(--medium-text);
    font-weight: 300;
    margin-bottom: 5px;
}

.bannerHeader {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    background-position: top center;
    background-repeat: no-repeat;
    background-size: cover;
    height: var(--banner-small-height);
    padding: var(--small-gap) var(--medium-gap);
}

.bannerHeader > p {
    font-size: var(--extra-large-text);
    font-weight: 600;
}

.sorterBanner {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    background-position: top center;
    background-repeat: no-repeat;
    background-size: cover;
    height: var(--banner-small-height);
    padding: var(--small-gap) var(--medium-gap);
}

/* #endregion */


/* #region Gallery */

.galleryContainer {
    display: grid;
    grid-template-columns: repeat(5, minmax(0, 1fr)); 
    margin: 20px -10px 0px -10px  /* -var(--mini-gap) */;
    gap: 10px 0px;
}

.galleryItem {
    flex: 1;
    padding: var(--mini-gap);
    border-radius: var(--border-radius-small);
    transition: var(--normal-transition);
}

.galleryItem:hover {
    background-color: var(--surface-color);
}

.galleryContainer .imgContainer {
    position: relative;
    width: 100%;
    aspect-ratio: 1;
    margin-bottom: var(--mini-gap);
}

.galleryContainer img {
    object-fit: contain;
    position: relative !important;
    height: unset !important;
}

.galleryContainer .mainText {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    
}

.galleryContainer .subText {
    font-size: var(--small-text);
    color: var(--secondary-text-color);
}

/* #endregion */


/* #region Flex */

.flexContainer {
    display: flex;
    gap: 20px;
}

.flexContainer.fullWidth {
    width: 100%;
}

.flexContainer.flex > *:not(img) {
    flex: 1;
}

/* #endregion */

