.sorterRootContainer {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    min-height: 100dvh;
} 

.sorterRootContainer > * {
    user-select: none;
}

.sorterRootContainer > div:last-child {
    flex: 1;
}

/* #region Header */

.sorterHeader {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 40px var(--medium-gap);
    border-bottom: 1px solid var(--surface-color-light);
}

.sorterHeader > div:first-child {
    display: flex;
    align-items: center;
    gap: 50px;
    width: 60%;
}

.sorterHeader > div:first-child p {
    white-space: nowrap;
}

.sorterHeader > div:first-child .mainText {
    font-weight: 600;
    font-size: var(--large-text);
}

.sorterHeader > div:first-child .subText {
    color: var(--tertiary-text-color);
    font-size: var(--small-text);
}

.sorterProgress {
    position: relative;
    width: 100%;
    background-color: var(--surface-color);
    height: 10px;
    border-radius: 10px;
    margin-top: 15px;
}

.percentageNumber {
    position: absolute;
    top: -25px;
    color: var(--tertiary-text-color);
}
  
.sorterBar {
    width: 0%;
    height: 100%;
    background-color: var(--primary-color);
    border-radius: 10px;
}

/* #endregion */



/* #region FilterStage */

.filterStageContainer {
    padding: 0px var(--medium-gap);
    display: flex;
    flex-direction: column;
    height: 100%;
}

.titleContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 65px 0px;
}

.titleContainer > h2 {
    margin-bottom: 6px;
}

.titleContainer .description {
    color: var(--tertiary-text-color);
    margin-bottom: 15px;
}

.projectContainer {
    display: grid;
    grid-template-columns: repeat(4, minmax(0, 1fr)); 
    gap: 15px;
    overflow-y: scroll;
}

.projectBtn {
    all: unset;

    display: flex;
    align-items: center;
    gap: 15px 15px;
    background-color: var(--surface-color);
    border-radius: var(--border-radius);
    padding: 10px;
    width: 100%;
    transition: var(--normal-transition);
    box-sizing: border-box
}

.projectBtn.clicked {
    opacity: 0.25;
}

.projectBtn > div {
    overflow: hidden;
    box-sizing: border-box;
}

.projectBtn p {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.projectBtn .mainText {
    text-align: left;
    font-size: var(--small-text);
    color: var(--primary-text-color-variant)
}

.projectBtn .subText {
    text-align: left;
    font-size: 14px;
    color: var(--secondary-text-color);
}

.projectBtn:hover {
    background-color: var(--surface-color-light);
}

.projectBtn:hover .mainText {
    color: var(--primary-text-color);
}

/* #endregion */



.sortingStageContainer {
    padding: 0px var(--medium-gap);
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
}

.sorterButtonContainer {
    display: flex;
    gap: 15px;
    margin-bottom: 30px;
}

.sorterButtonContainer > div {
    display: flex;
    flex-direction: column;
    flex: 1;
    gap: 15px;
}

.sorterButtonContainer > div:nth-child(2) > button {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex: 1;
}

.sorterButton {
    appearance: none;
    background-color: transparent;
    outline: none;
    border: none;

    position: relative;
    background-color: var(--surface-color);
    font-size: var(--small-text);
    color: var(--secondary-text-color);
    padding: 15px;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 5px;
    flex: 1;
    transition: var(--fast-transition);
}

.sorterButton:hover {
    background-color: var(--surface-color-light);
    color: var(--primary-text-color);
}

.sorterButton.active {
    background-color: var(--surface-color-light);
    color: var(--primary-text-color);
}

.sorterButton > div{
    display: flex;
    flex-direction: column;
    flex-basis: 60px;
    gap: 0px;
}

.sorterButton .mainText {
    font-weight: 500;
    text-align: center;
    color: var(--primary-text-color-variant);
}

.sorterButton .subText {
    font-size: var(--small-text);
    color: var(--secondary-text-color);
    text-align: center;
}

.deleteButton {
    position: absolute;
    top: 5px;
    left: 5px;
}



.sorterTextButton {
    appearance: none;
    background-color: transparent;
    outline: none;
    border: none;

    display: flex;
    align-items: center;
    gap: 20px;
    background-color: var(--surface-color);
    color: var(--secondary-text-color);
    font-size: 16px;
    padding: 20px 40px;
    border-radius: 10px;
    font-size: var(--small-text);
    transition: var(--fast-transition);
}

.sorterTextButton:hover {
    background-color: var(--surface-color-dark);
    color: var(--primary-text-color);
    
}

.sorterCover {
    position: relative;
    width: 100%;
    padding-bottom: 100%;
    margin-bottom: 20px;
}


.resultFormContainer {
    padding: 50px 0px;
    border-radius: 10px;
}

.resultFormContainer > p {
    color: var(--secondary-text-color);
    font-size: var(--small-text);
    margin-bottom: 15px;
}

.resultForm {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: flex-start;
    margin: 0 auto;
}

.resultForm textarea {
    width: 100%;
    padding: 15px;
    border-radius: 5px;
    color: var(--primary-text-color);
    font-size: 15px;
    border: var(--surface-color-light) solid 1px;
    background-color: var(--surface-color-dark);
    caret-color: var(--primary-text-color);
    font-family: "Inter", sans-serif;
}

.resultForm textarea:focus {
    outline:none;
    border-color: var(--primary-color);
}