:root {
  --primary: #FEF27A;
  --background: #000;
  --surface: #151515;
  --surface-light: #1f1f1f;
  --surface-dark: #0c0c0c;
  --on-primary: #000;
  --primary-text: #FFF; 
  --secondary-text: #6e6e6e;
  --tertiary-text: #393939;

  --max-width: 1280px;
  --border-radius: 15px;
  --font-mono: ui-monospace, Menlo, Monaco, "Cascadia Mono", "Segoe UI Mono",
    "Roboto Mono", "Oxygen Mono", "Ubuntu Monospace", "Source Code Pro",
    "Fira Mono", "Droid Sans Mono", "Courier New", monospace;

  --normal-transition: all 0.3s;
  
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  background-color: var(--background);
  color: var(--primary-text);
  font-family: var(--font-mono);
}

a {
  text-decoration: none;
color: unset;
}

body::-webkit-scrollbar {
  width: 6px;
}

body::-webkit-scrollbar-thumb {
  background: var(--tertiary-text);
  border-radius: 3px;
}

h1 {
  font-size: 34px;
}

h2 {
  font-size: 26px; 
}

h3  {
  font-size: 20px;   
}

