:root {
  --primary-color: #FEF27A;
  --primary-color-dark: #b7ae47;
  --primary-color-light: #fff8a9;

  --background-color: #070707;
  --background-color-inverse: #FFF;

  --surface-color: #151515;
  --surface-color-light: #222222;
  --surface-color-dark: #0c0c0c;

  --on-primary-color: #000;

  --on-surface-color: #303030;
  --on-surface-color-dark: #252525;
  --on-surface-color-light: #3f3f3f;
  
  --primary-text-color: #FFF;
  --primary-text-color-variant: #dedede; 

  --secondary-text-color: #767676;
  --tertiary-text-color: #4d4d4d;

  --translucent-black-color: #000000c2;
  --translucent-gray-color: #47474733;
  --translucent-primary-color: #fef37acd;

  --positive-color: #559F44;
  --negative-color: #D04119;
  --neutral-color: #265990;

  --max-width: 1280px;
  --sidebar-width: 300px;
  --banner-height: 330px;
  --banner-small-height: 125px;
  --border-radius: 13px;
  --border-radius-small: 8px;
  --font-mono: ui-monospace, Menlo, Monaco, "Cascadia Mono", "Segoe UI Mono",
    "Roboto Mono", "Oxygen Mono", "Ubuntu Monospace", "Source Code Pro",
    "Fira Mono", "Droid Sans Mono", "Courier New", monospace;

  --fast-transition: all 0.2s;
  --normal-transition: all 0.3s;
  --slow-transition: all 0.5s;

  --mini-gap: 10px;
  --small-gap: 30px;
  --medium-gap: 60px;
  --large-gap: 90px;

  --huge-text: 46px;
  --extra-large-text: 32px;
  --large-text: 22px;
  --medium-text: 18px;
  --normal-text: 16px;
  --small-text: 15px;
  
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  /* cursor: default; */
}

body {
  background-color: var(--background-color);
  color: var(--primary-text-color);
  font-family: var(--font-mono);
  font-size: var(--normal-text);
}

a {
  text-decoration: none;
  color: unset;
}

body::-webkit-scrollbar {
  width: 6px;
}

body::-webkit-scrollbar-thumb {
  background: var(--tertiary-text-color);
  border-radius: 3px;
}

h1,
h2,
h3,
p {
  padding: 2px 0px;
}

h1 {
  font-size: var(--extra-large-text);
}

h2 {
  text-transform: uppercase;
  font-size: var(--medium-text);
  font-weight: 600;
  letter-spacing: 2px;
}

h3 {
  font-size: var(--medium-text);   
}

hr {
  border-width: 1px;
  border-color: #2d2d2d1d;
  margin: 10px 0px;
}

canvas {
  padding: 20px;
}

input::selection {
  background: var(--translucent-primary-color);
}


::placeholder {
  color: var(--tertiary-text-color);
  font-size: var(--small-text);
}

form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

/* img {
  border-radius: 5px;
  overflow: hidden;
} */

/* button {
  appearance: none;
  background-color: transparent;
  outline: none;
  border: none;
  margin: 0;
  padding: var(--mini-gap) var(--small-gap);
  cursor: pointer;
  color: var(--primary-text);
} */

