:root {
  --primary-color: #FEF27A;
  --background-color: #000;
  --surface-color: #131313;
  --surface-light-color: #212121;
  --surface-dark-color: #0f0f0f;
  --on-primary-text-color: #000;
  --primary-text-color: #FFF;
  --primary-text-hover-color: #dadada; 
  --secondary-text-color: #6e6e6e;
  --tertiary-text-color: #393939;

  --translucent-black-color: #00000044;
  --translucent-gray-color: #47474733;

  --positive-color: #559F44;
  --negative-color: #D04119;
  --neutral-color: #265990;

  --max-width: 1280px;
  --sidebar-width: 280px;
  --banner-height: 330px;
  --border-radius: 15px;
  --border-radius-small: 5px;
  --font-mono: ui-monospace, Menlo, Monaco, "Cascadia Mono", "Segoe UI Mono",
    "Roboto Mono", "Oxygen Mono", "Ubuntu Monospace", "Source Code Pro",
    "Fira Mono", "Droid Sans Mono", "Courier New", monospace;

  --fast-transition: all 0.2s;
  --normal-transition: all 0.3s;
  --slow-transition: all 0.5s;

  --mini-gap: 10px;
  --small-gap: 30px;
  --medium-gap: 60px;
  --large-gap: 90px;

  --huge-text: 46px;
  --extra-large-text: 30px;
  --large-text: 22px;
  --medium-text: 18px;
  --normal-text: 16px;
  --small-text: 15px;
  
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  background-color: var(--background-color);
  color: var(--primary-text-color);
  font-family: var(--font-mono);
  font-size: var(--normal-text);
}

a {
  text-decoration: none;
  color: unset;
}

body::-webkit-scrollbar {
  width: 6px;
}

body::-webkit-scrollbar-thumb {
  background: var(--tertiary-text-color);
  border-radius: 3px;
}

h1,
h2,
h3,
p {
  padding: 2px 0px;
}

h1 {
  font-size: var(--extra-large-text);
}

h2 {
  text-transform: uppercase;
  font-size: var(--medium-text);
  font-weight: 600;
  letter-spacing: 2px;
}

h3 {
  font-size: var(--medium-text);   
}

hr {
  border-width: 1px;
  border-color: #2d2d2d3a;
  margin: 10px 0px;
}

canvas {
  padding: 20px;
}

/* button {
  appearance: none;
  background-color: transparent;
  outline: none;
  border: none;
  margin: 0;
  padding: var(--mini-gap) var(--small-gap);
  cursor: pointer;
  color: var(--primary-text);
} */

